.feedback-section {
  background-color: #f5fcff;
  padding: 50px 0;
}

.feedback-header {
  text-align: left;
  margin-bottom: 40px;
}

.feedback-small-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: left;
}

.feedback-main-heading {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 0;
  color: #282938 !important;
}

.feedback-card {
  border: 1px solid #006b6a !important;
  background-color: #f5fcff !important;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  display: flex;
  align-items: center;
}

.star-icon {
  width: 1rem;
  height: 1rem;
  color: #006b6a;
  margin-right: 5px;
}

.feedback-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  margin: 10px 0;
}

.feedback-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.feedback-name {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.feedback-company {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}

.feedback-main-heading {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 0;
}

@media (max-width: 768px) {
  .feedback-main-heading {
    font-size: 1.75rem;
    margin: 0;
  }
}
